<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Top Posts</h1>

  </ion-header-bar>
  <ion-content>
      <div ng-repeat="post in topposts | limitTo:3  track by $index">

          <ion-card>

      <ion-item>
        <ion-avatar item-left>
            <img src="http://localhost:8000/{{post.user_image}}" alt="">
        </ion-avatar>
        <p>{{post.first_name}} {{post.last_name}}</p>

      </ion-item>
      <img  class="img-responsive" src="http://localhost:8000/{{post.media_url}}" alt="">



      <ion-card-content>
        <p>{{post.description}}</p>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>12 Likes</div>
          </button>
        </ion-col>
        <ion-col>
         

      </ion-row>

    </ion-card>
  </div>
  </ion-content>
</ion-modal-view>
