//sass --watch Sass\CategorySelected.scss:Css\CategorySelected.css

@font-face{
    font-family:regular;
    src:url(../../Fonts/Roboto-Regular.ttf)
}

@font-face{
    font-family:medium;
    src:url(../../Fonts/Roboto-Medium.ttf)
}

@font-face{
    font-family:blak;
    src:url(../../Fonts/Roboto-Black.ttf)
}

@font-face{
    font-family:bold;
    src:url(../../Fonts/Roboto-Bold.ttf)
}

@font-face{
    font-family:boldco;
    src:url(../../Fonts/Roboto-BoldCondensed.ttf)
}

@font-face{
    font-family:light;
    src:url(../../Fonts/Roboto-Light.ttf)
}

@font-face{
    font-family:thin;
    src:url(../../Fonts/Roboto-Thin.ttf)
}



$yellow:#FFB733;
$purplel:#6A0C38;
$purpled:#45132E;
$white:#FFFFFF;
$black:#231F20;
$gray:#808285;
$grayl:#E4E4E4;




body{
    font-size: 0px;
    padding: 0px;
    margin: 0px;
    background-color: $grayl;
}



.btn-group{

    text-align: center;
    .btn-default{
        width:33.3%;
    }
}

.navbar{
    background-color: transparent;

    border:0px;
    border-radius:0px;
    padding: 1% 0%;
    .navbar-header{
        .navbar-toggle{

            background-color: $white;
            .icon-bar{
                background-color: $yellow;
            }


        }

        .navbar-brand{
            padding:  5px;
            padding-left: 10px;
            img{
                height: 100%;
                display: inline-block;
            }

        }

    }
    .navbar-collapse{
        color: $purplel;
        .navbar-right{
            li{
                font-size: 16px;
                font-family: medium;
                margin-left: 5px;
                margin-right: 5px;
                a{
                    color:$purplel;
                    .dropdown{
                        .caret{
                            color: $yellow;
                        }
                        .dropdown-toggle{


                        }  

                        .dropdown-menu{
                            li{

                                a{

                                }
                            } 
                        } 

                    }  
                    .search{
                        padding-bottom:15px;
                        padding-top:10px;

                        .glyphicon-search{
                            font-size: 25px;

                        }  


                        .loginbtn{
                            background-color: $yellow;
                            .btn-default{

                            }
                        }

                        .languagebtn{

                        }

                    }
                }
            }  
        }
    }

}

h1{
    color: $yellow;
    font-family: bold;
    margin-top: 60px;
}

.row{
    margin-left:0px;
    margin-top: 15px;
}
#videoDiv{
    padding: 0px;
    margin: 0px;
video{
    width: 354px;
    
}
}


audio{
    margin-top: 50px;
}

.categorySection{
    //width:33.3%;
    margin-top:25px;
    height: inherit;
    //margin-right:10px;

    .thumbnail{
        padding: 0px;

        img{
            width: 358px;
            margin:0px;

        }
        h3{
            font-family:bold;
            color: $yellow;
            text-align: center;
        }

        i{
            font-size: 20px;
            color: $gray;
            vertical-align: top;
            margin-left: 20px;
            padding-top: 20px;
        }


        .caption{


            p{
                font-family: regular;
                font-size: 14px;
                text-align: left;
                margin-bottom: 25px;


            }



            .userPic{
                font-family: regular;
                font-size: 14px;
                color:$black;
                display: inline-block;

                img{
                    width: 40px;
                    border: 2px solid $yellow;
                    border-radius: 50px;
                    display: inline-block;
                }

            }

            .interactions{
                .badge{
                    font-family: regular;
                    font-size: 14px;
                    background-color: transparent;
                    color: $gray;
                    vertical-align: bottom;

                }
            }

            i{
                font-size: 20px;
                color: $gray;
                vertical-align: top;
                margin-left: 20px;
            }

            .workshopInfo{
                a{
                    display: inline-block;
                    i{
                        color: $purplel;
                        font-size: 20px;
                        margin-left: 8px;


                    }
                    .badge{
                        font-size: 12px;
                        font-family: light;
                        background-color: transparent;
                        color: $gray;
                        vertical-align: bottom;

                    }
                }
            }



            a{
                margin-top: 15px;
                span{
                    font-size: 12px;
                    font-family: light;
                    color: $gray;
                }
                img{

                }
            }




        }  
    }
}

.caption{
    .row{
        .eventScd{
            .fa{
                font-size:40px;
                color:$purplel;
                margin: 0px;
                padding: 0px;

            }
            a{
                padding: 0px;
                margin: 0px;


                p{
                    font-size:40px;

                    display: inline-block;
                    span{
                        background-color: transparent;
                        color: $black;

                        text-align: left;
                    }

                }

            }
        }
    }


}
