@font-face {
  font-family: regular;
  src: url(../../Fonts/Roboto-Regular.ttf); }
@font-face {
  font-family: medium;
  src: url(../../Fonts/Roboto-Medium.ttf); }
@font-face {
  font-family: blak;
  src: url(../../Fonts/Roboto-Black.ttf); }
@font-face {
  font-family: bold;
  src: url(../../Fonts/Roboto-Bold.ttf); }
@font-face {
  font-family: boldco;
  src: url(../../Fonts/Roboto-BoldCondensed.ttf); }
@font-face {
  font-family: light;
  src: url(../../Fonts/Roboto-Light.ttf); }
@font-face {
  font-family: thin;
  src: url(../../Fonts/Roboto-Thin.ttf); }
body {
  font-size: 0px;
  padding: 0px;
  margin: 0px;
  background-color: #E4E4E4; }

.btn-group {
  text-align: center; }
  .btn-group .btn-default {
    width: 33.3%; }

.navbar {
  background-color: transparent;
  border: 0px;
  border-radius: 0px;
  padding: 1% 0%; }
  .navbar .navbar-header .navbar-toggle {
    background-color: #FFFFFF; }
    .navbar .navbar-header .navbar-toggle .icon-bar {
      background-color: #FFB733; }
  .navbar .navbar-header .navbar-brand {
    padding: 5px;
    padding-left: 10px; }
    .navbar .navbar-header .navbar-brand img {
      height: 100%;
      display: inline-block; }
  .navbar .navbar-collapse {
    color: #6A0C38; }
    .navbar .navbar-collapse .navbar-right li {
      font-size: 16px;
      font-family: medium;
      margin-left: 5px;
      margin-right: 5px; }
      .navbar .navbar-collapse .navbar-right li a {
        color: #6A0C38; }
        .navbar .navbar-collapse .navbar-right li a .dropdown .caret {
          color: #FFB733; }
        .navbar .navbar-collapse .navbar-right li a .search {
          padding-bottom: 15px;
          padding-top: 10px; }
          .navbar .navbar-collapse .navbar-right li a .search .glyphicon-search {
            font-size: 25px; }
          .navbar .navbar-collapse .navbar-right li a .search .loginbtn {
            background-color: #FFB733; }

h1 {
  color: #FFB733;
  font-family: bold;
  margin-top: 60px; }

.row {
  margin-left: 0px;
  margin-top: 15px; }

#videoDiv {
  padding: 0px;
  margin: 0px; }
  #videoDiv video {
    width: 354px; }

audio {
  margin-top: 50px; }

.categorySection {
  margin-top: 25px;
  height: inherit; }
  .categorySection .thumbnail {
    padding: 0px; }
    .categorySection .thumbnail img {
      width: 358px;
      margin: 0px; }
    .categorySection .thumbnail h3 {
      font-family: bold;
      color: #FFB733;
      text-align: center; }
    .categorySection .thumbnail i {
      font-size: 20px;
      color: #808285;
      vertical-align: top;
      margin-left: 20px;
      padding-top: 20px; }
    .categorySection .thumbnail .caption p {
      font-family: regular;
      font-size: 14px;
      text-align: left;
      margin-bottom: 25px; }
    .categorySection .thumbnail .caption .userPic {
      font-family: regular;
      font-size: 14px;
      color: #231F20;
      display: inline-block; }
      .categorySection .thumbnail .caption .userPic img {
        width: 40px;
        border: 2px solid #FFB733;
        border-radius: 50px;
        display: inline-block; }
    .categorySection .thumbnail .caption .interactions .badge {
      font-family: regular;
      font-size: 14px;
      background-color: transparent;
      color: #808285;
      vertical-align: bottom; }
    .categorySection .thumbnail .caption i {
      font-size: 20px;
      color: #808285;
      vertical-align: top;
      margin-left: 20px; }
    .categorySection .thumbnail .caption .workshopInfo a {
      display: inline-block; }
      .categorySection .thumbnail .caption .workshopInfo a i {
        color: #6A0C38;
        font-size: 20px;
        margin-left: 8px; }
      .categorySection .thumbnail .caption .workshopInfo a .badge {
        font-size: 12px;
        font-family: light;
        background-color: transparent;
        color: #808285;
        vertical-align: bottom; }
    .categorySection .thumbnail .caption a {
      margin-top: 15px; }
      .categorySection .thumbnail .caption a span {
        font-size: 12px;
        font-family: light;
        color: #808285; }

.caption .row .eventScd .fa {
  font-size: 40px;
  color: #6A0C38;
  margin: 0px;
  padding: 0px; }
.caption .row .eventScd a {
  padding: 0px;
  margin: 0px; }
  .caption .row .eventScd a p {
    font-size: 40px;
    display: inline-block; }
    .caption .row .eventScd a p span {
      background-color: transparent;
      color: #231F20;
      text-align: left; }

/*# sourceMappingURL=CategorySelected.css.map */
