<style>
.jumbotron{

  /*background-image: url("Imgs/Persons/photo.jpg");*/
  height: 100%;
}
</style>
<div class="jumbotron">

<img  class="img-circle"src="Imgs/Persons/face1.jpg"/>
<h2> welcome <span style="color:Purple ">{{userprofile.first_name}}  {{userprofile.last_name}}</span></h2>
</div>
<ul class="nav nav-tabs">
  <li role="presentation" class="active" style="color:#6A0C38"><a href="">my profile</a></li>
  <li role="presentation"><a href="#">my workshops</a></li>
  <li role="presentation"><a href="#">my events</a></li>
  <li role="presentation"><a href="#">Follower <span class="badge">12</span></a></li>
</ul>

<style>
.row{
margin-left: 138px;
    margin-top: 15px;
    width: 600px;
}
</style>

<div class="container">
    <div class="row">

            <div class="thumbnail">

                <img src="{{post.media.media_url}}" style=" height:200px">
                <div class="caption">
                  <h4 style="color:Purple ">Title: {{category_post.title}}</h4>
                  <h4 style="color:Purple ">Description: {{category_post.description}}</h4>
                  <!-- <h4 style="color:Purple ">{{category_post.id}}</h4> -->

                    <a class="userPic"><img src="Imgs/Persons/face1.jpg" alt=""> Ahmed Zaki </a>

                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 ">
                            <a href="#" class="interactions"><i class="fa fa-heart" aria-hidden="true"></i>  <span class="badge">12</span></a>

                            <a href="#" class="interactions">  <i class="fa fa-commenting" aria-hidden="true"></i>       <span class="badge">35</span></a>

                        </div>

                        <div class="col-lg-4 col-md-8 col-sm-2 ">
                            <i class="fa fa-share-alt" aria-hidden="true"></i>

                            <i class="fa fa-bookmark" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>



  </div>
</div>
